html, body{
  margin:0px!important;
  height: 100%;
}
.logo {
  background: none;
}
.imglogo {
  height: 40px;
  width: auto;
  padding-left: 20px;
  top: 10px;
  position: relative;
}

.mainContainer{
  min-height: 100%;
  padding-top: 100px; /* must be at least 70px or > than navbar height. add 10 px for actual padding. */
  padding-bottom: 100px; /* must be at least 70px > than footer height. */
}

footer{
  background-color: #262626;
  color: white;
  min-height: 15vh;/*made it high for codepens window*/
  text-align:center;
}
.headline-right{
  text-align: right;
}
.footerText{
  margin-top: 20px;
}
footer a:hover{
  color:#1affc6;
}
.homeWelcome{
  text-align: center;
  font-size: 10vh;
}

// Navigation Variables
$content-width: 100%;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
  //overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-left:2%;
  padding-right:2%;
}
// Logo and branding
.brand {
  position: absolute;
  padding-left: 0px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}
// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}
// Navigation 
.nav-buttons{
  padding-right:0px;
}
nav { 
  float: right;
  padding-top:0px!important;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a,
      a:visited {
        display: block;
        padding-left:5px;
        padding-right:5px;
        border-radius:0px!important;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
   width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;html, body {
  margin: 0px !important;
  height: 100%;
}
.filler {
  height: 15vh;
}
.mainContainer {
  min-height: 100%;
}
footer {
  background-color: #262626;
  color: white;
  min-height: 15vh; /*made it high for codepens window*/
  text-align: center;
}
.headline-right {
  text-align: right;
}
.footerText {
  margin-top: 20px;
}
footer a:hover {
  color: #1affc6;
}
.homeWelcome {
  text-align: center;
  font-size: 10vh;
}
@media only screen and (max-height: 550px) {
  .filler {
    min-height: 45vh;
  }
}
// Navigation Variables
$content-width: 100%;
$breakpoint: 800px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
// Outer navigation wrapper
.navigation {
  height: $nav-height;
  background: $nav-background;
  //overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-left: 2%;
  padding-right: 2%;
}
// Logo and branding
.brand {
  position: absolute;
  padding-left: 0px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  a, a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}
// Container with no padding for navbar
.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}
// Navigation
.nav-buttons {
  padding-right: 0px;
}
nav {
  float: right;
  padding-top: 0px !important;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      position: relative;
      a, a:visited {
        display: block;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 0px !important;
        line-height: $nav-height;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        &:hover {
          background: $link-hover-color;
          color: $nav-font-color;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
// Dropdown list binds to JS toggle event
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
/* Mobile navigation */
// Binds to JS Toggle
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}
@media only screen and (max-width: $breakpoint) {
  // Hamburger nav visible on mobile only
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: $nav-height 0 15px;
    ul {
      display: none;
      li {
        float: none;
        a {
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span, span:before, span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $nav-font-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  /*  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }*/
}
// Page content
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}
@media only screen and (max-height: 550px) {
  .filler {
    min-height: 45vh;
  }
}
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
/*  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }*/
}
// Page content 
article {
  max-width: $content-width;
  margin: 0 auto;
  padding: 10px;
}
@media only screen and (max-height: 550px) {
  .filler{
    min-height: 45vh;
  }
}
